#aside{
    width:20%;
    background-color:$background-products;
    height: 160vh;
    padding-left: 3em;

    
    position: sticky;
    top: -20px;

    word-wrap: break-word;


 
}

.column{
    display: flex;
    flex-direction: column;
}