header{
    height: 20vh;
    background-color: $background-header;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px ;

    img{
        padding-left: 1em;
        width: 7.5em;
    }

    section{
        display: flex;
        flex-direction: column;

            
        form {
            display:flex;
            flex-direction:row;
            border:2px solid $tipography;
            border-radius: 2px;
            width: 40em;
            height: 3em;
            margin:2em 0 0 1em;
        
            input{
                padding: 0.7em;

            }
        }

        nav{
            margin: 0.5em;

            
            button{
                font-weight: bold;
            }
        }
    }

}
@media (max-width: 455px) {

    img{
        display: none;
    }
    form{
        width: 20em;
        margin: 2em;
    }
    ::placeholder{
        font-size: 0.8rem;
    }
}