header{

    height: 20vh;
    background-color: $background-header;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px ;

    img{
        padding-left: 1em;
        width: 7.5em;
    }

    section{
        display: flex;
        flex-direction: column;

            
        #search-bar {
            display:flex;
            flex-direction:row;
            border:2px solid $tipography;
            border-radius: 2px;
            width: 40em;
            height: 2em;
            margin:2em 1em 0em ;
        
            input{
                padding: 0.7em;

            }
        }

        nav{
            margin: 0.5em;

            
            button{
                font-weight: bold;
            }
        }
    }

}

@media (min-width:320px) and (max-width:460px) {

    header{
        height: 10vh;

    }
    #logo{
      width:4em;
      
    }
    #search-bar{
        width: 100%;
        margin:0em 0em 0em ;

    }

    ::placeholder{
        font-size: 0.7rem;
    }

}

@media (min-width:769px) and (max-width:1024px) {

    #search-bar{

        width: 100%;
        margin:0;
    }
    #logo{
        width:10em;
        
    }

}
