$tipography:#E76F51;
$background-header:#2E294E;
$background-hover:#6f68a7;
$place-holder:#a5a1a5;
$background-products:#f6f2f7;
$separation-line:#d4d3d68f;
$free_shipping : #3d9b3d;
$background-single-card: #5f5e5f75;
$shadow : #4140428f;