@import "general/normalize";
@import "general/typography";
@import "general/colors";
@import"layout/aside";
@import "layout/main";
@import "components/buttons";
@import"components/filters";
@import "layout/products";
@import "components/dropdown-menu";
@import "components/cards";
@import "components/card_single_product";
@import "components/inputs";
@import "layout/header";
@import "components/slideshow";

*:focus{
    outline: thin dotted ;
  }

  
.row{
  display: flex;
  
}
.column{
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center
}

.margin-left05{
  margin-left: 0.5em;
}


.hide{
  display: none;
}