@mixin button($border:1px solid transparent) {
    border:$border ;
    color:$tipography;
    cursor: pointer;
}
#search-bar-btn{
 @include button;
    background-color: #ffffff;

  }
::placeholder{
      color: $place-holder;
}

#drop-btn{
    @include button;
    padding-right: 7em;
    padding-bottom: 0.3em;
    background-color:$background-header;

}
.btn-subCategories{
  @include button;
  background-color: $background-header;

}

