@mixin button($border:1px solid transparent) {
    border:$border ;
    color:$tipography;
    cursor: pointer;
}
#search-bar-btn{
 @include button;
    background-color: #ffffff;

  }
::placeholder{
      color: $place-holder;
}

#drop-btn{
    @include button;
    padding-right: 7em;
    padding-bottom: 0.3em;
    background-color:$background-header;

}
.btn-subCategories{
  @include button;
  background-color: $background-header;

}
#sort-btns{
display: flex;
justify-content: right;
}

#asc , #desc{
padding: 0.3em;
margin-bottom: 0.5em;

}
#desc{
  margin-right: 1em;
}
#prev, #next,#prev-cat, #next-cat{
  @include button;
  background-color: $background-products;
  font-size: 2em;
  


}

