@mixin button($border:1px solid transparent) {
    border:$border ;
    color:$tipography;
    cursor: pointer;
}
#search-bar-btn{
 @include button;
    background-color: #ffffff;

  }

::placeholder{
      color: $place-holder;
}

#drop-btn{
    @include button;
    padding-right: 7em;
    padding-bottom: 0.3em;
    background-color:$background-header;

}

#sort-btns-product , #sort-btns-category{

display: flex;
justify-content: right;

}



#prev, #next,#prev-cat, #next-cat, #prev-sort-cat, #next-sort-cat, #prev-sort, #next-sort{
  @include button;
  background-color: $background-products;
  font-size: 2em;
  


}

@media (min-width:320px) and (max-width:460px) {

  #drop-btn{
  font-size: 0.7rem;
  


}
#asc-product , #desc-product{
font-size: 0.7rem;
}
}