@mixin cards  {

    border: 2px solid transparent;
    padding: 0.5em 0.5em;
    border-bottom: 0.5px solid $separation-line;
    margin: 0.5em;
    
}

.card{

@include cards;

    height: 15em;
    display: flex;
    cursor: pointer;

    .card-padding{
        padding: 0.5em;
    }

    h2{
        font-size: 1.2rem;
        margin: 1em 0;
        margin-bottom: 1em;
        font-weight:600;
        
    }

    h3{
        font-size: 1.5rem;
        margin: 2.5em 0;
        font-weight: 700;

    }


}

.img-container{
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;

    img{
        height: 100%;
        border-radius: 2px;
    }



}

.free{
    color:$free_shipping
}

