#aside{
    
    h2{
        font-size: 2rem;
        width: 100%;
       
    }
  
    form{
        margin-left: 1em;

        div{
            margin-bottom: 0.5em;

        }
        label{
            margin-left: 0.4em;
        }

        select{
            cursor: pointer;
        }
    }
    
}