input{
  cursor: pointer;
}

#search-value {
    flex-grow:2;
    border:5px solid #ffffff;

}
*:focus{
  outline: thin dotted;
}

.check{
  margin-left: 1em;
}

#all,#new,#used{
  margin-bottom: 1.5em;
}

@media (min-width:320px) and (max-width:460px) {
  

}